body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 860px;
  padding: 100px 0;
}

/* Box demo styles */
.box {
  align-items: center;
  background-color: #e0bbe4;
  display: flex;
  justify-content: center;
  height: 400px;
  margin-bottom: 100px;
  width: 400px;
}

.box--is-visible {
  background-color: #957dad;
}

.scrollable-div {
  background-color: #ccc;
  height: 500px;
  margin-bottom: 100px;
  overflow-y: scroll;
  width: 100%;
}

/* Lazy-load demo styles */
.aspect-ratio {
  background-color: #ccc;
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.aspect-ratio__inner {
  display: block;
  height: 100%;
  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
}

.img {
  animation: comeIn 0.4s ease;
}

@keyframes comeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}